Debug/
Release/
*.user
*.db
*.suo
*.opendb
*.pdb
*.ilk
*.dll
*.lib
*.exp
*.exe
*.TMP
*.~*
*.metadata
test*.txt
test*.csv
test*.xls
Test*.txt
Test*.csv
Test*.xls
data*.txt
data*.csv
data*.xls
Data*.txt
Data*.csv
Data*.xls
temp*.txt
temp*.csv
temp*.xls
Temp*.txt
Temp*.csv
Temp*.xls
